/* ---- CSS RESET-----*/

* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
    
}

body{
    
width: 100%;
    max-width: 5120px;
     font-family: 'Quattrocento', serif; 

    color: #f5f5f5;
    line-height: 1.8;  

}

#headerimage{
    
  width: 100%;
  height: 1200px;
    padding-top: 20px;

 
  background: #f1f1f1;

}

#btn{
    width: 15%;
    height: 75px;
    background-color: transparent;
    margin-top: 550px;
    margin-left: 42.5%;
    margin-right: 42.5%;
    border-color: bisque;
    border-width: 2px;
    border-style: solid;
}

#btn:hover{
     -webkit-transition: all 1s ease-out;
   -moz-transition: all 1s ease-out;
   -o-transition: all 1s ease-out;
   -ms-transition: all 1s ease-out;
   transition: all 1s ease-out;
    background-color:bisque;
}

    #section2{
    
  width: 100%;
  height: 730px;

 
  background-color: #f5f5f5;

}
    
        #section3{
    
  width: 100%;
  height: 730px;

 
  background-color: #f5f5f5;

}
    
        #section4{
    
  width: 100%;
  height: 730px;

 
  background-color: #f5f5f5;

}
    
            #section5{
    
  width: 100%;
  height: 730px;

 
  background-color: #f5f5f5;

}
    
            #section6{
    
  width: 100%;
  height: 730px;

 
  background-color: #f5f5f5;

}
    
            #section7{
    
  width: 100%;
  height: 730px;

 
  background-color: #f5f5f5;

}
    
            #section8{
    
  width: 100%;
  height: 730px;

 
  background-color: #f5f5f5;

}
    
            #section9{
    
  width: 100%;
  height: 730px;

 
  background-color: #f5f5f5;

}
    
            #section10{
    
  width: 100%;
  height: 730px;

 
  background-color: #f5f5f5;

}
    
            #section11{
    
  width: 100%;
  height: 730px;

 
  background-color: #f5f5f5;

}
    
            #section12{
    
  width: 100%;
  height: 730px;

 
  background-color: #f5f5f5;

}
    
                #section13{
    
  width: 100%;
  height: 730px;

 
  background-color: #f5f5f5;

}
   
   
   
   
   
   
   
   
    
    #textleft{
        margin-top: 5%;
        width:40%;
        height:600px;
        margin-left: 10%;
        background-color: transparent;
        float: left
    }
    
        #imageright1{
        margin-top: 5%;
        width:40%;
        height:600px;
        margin-right: 10%;
        background-color: transparent;
                        background-image: url("../images/audemars.svg")  ;
      background-repeat: no-repeat;
            background-size: 50%;
        float: right;
    }
    
        #imageleft1{
        margin-top: 5%;
        width:40%;
        height:600px;
        margin-left: 10%;
        background-color: transparent;
                        background-image: url("../images/breitling.svg")  ;
      background-repeat: no-repeat;
            background-size: 50%;
        float: left
    }
    
            #imageright2{
        margin-top: 5%;
        width:40%;
        height:600px;
        margin-right: 10%;
        background-color: transparent;
                        background-image: url("../images/cartier.svg")  ;
      background-repeat: no-repeat;
            background-size: 50%;
        float: right;
    }
    
        #imageleft2{
        margin-top: 5%;
        width:40%;
        height:600px;
        margin-left: 10%;
        background-color: transparent;
                        background-image: url("../images/iwc.svg")  ;
      background-repeat: no-repeat;
            background-size: 50%;
        float: left
    }
    
            #imageright3{
        margin-top: 5%;
        width:40%;
        height:600px;
        background-color: transparent;
                        background-image: url("../images/jaeger.svg")  ;
      background-repeat: no-repeat;
            background-size: 50%;
        float: right;
    }
    
        #imageleft3{
        margin-top: 5%;
        width:40%;
        height:600px;
        margin-left: 10%;
        background-color: transparent;
                        background-image: url("../images/lange.svg")  ;
      background-repeat: no-repeat;
            background-size: 50%;
        float: left
    }
    
            #imageright4{
        margin-top: 5%;
        width:40%;
        height:600px;
        margin-right: 10%;
        background-color: transparent;
                        background-image: url("../images/omega.svg")  ;
      background-repeat: no-repeat;
            background-size: 50%;
        float: right;
    }
    
        #imageleft4{
        margin-top: 5%;
        width:40%;
        height:600px;
        margin-left: 10%;
        background-color: transparent;
                        background-image: url("../images/panerai.svg")  ;
      background-repeat: no-repeat;
            background-size: 50%;
        float: left
    }
    
            #imageright5{
        margin-top: 5%;
        width:40%;
        height:600px;
        margin-right: 10%;
        background-color: transparent;
                        background-image: url("../images/patek.svg")  ;
      background-repeat: no-repeat;
            background-size: 50%;
        float: right;
    }
    
        #imageleft5{
        margin-top: 5%;
        width:40%;
        height:600px;
        margin-left: 10%;
        background-color: transparent;
                        background-image: url("../images/rolex.svg")  ;
      background-repeat: no-repeat;
            background-size: 50%;
        float: left
    }
    
            #imageright6{
        margin-top: 5%;
        width:40%;
        height:600px;
        margin-right: 10%;
        background-color: transparent;
                        background-image: url("../images/tag_heuer.svg")  ;
      background-repeat: no-repeat;
            background-size: 50%;
        float: right;
    }
    
        #imageleft6{
        margin-top: 5%;
        width:40%;
        height:600px;
        margin-left: 10%;
        background-color: transparent;
                        background-image: url("../images/zenith.svg")  ;
      background-repeat: no-repeat;
            background-size: 50%;
        float: left
    }
    
        #textright{
        margin-top: 5%;
        width:40%;
        height:600px;
        margin-right: 10%;
        background-color: transparent;
        float: right;
    }
    
            #download{
    
  width: 100%;
  height: 600px;
  background-color: transparent;
                            background-image: url("../images/download.png")  ;
      background-repeat: no-repeat;
            background-size: 100% 100%;

}

/* ---- LINKS-----*/

a{
    
    color: #333;
    text-decoration: none;
    
}

a:hover{
    
    color: #003da5;
    border-bottom: 1px dotted;
    
}

a:link{
    
    border-bottom: 1px;
    text-decoration: none;
}

img.menu-logo {
    height: 57.5px;
    width: 57.38px;
    margin-left: 25%;;
}


/* ---- NAV-----*/

nav{
    
    width: 75%;
    height: 75px;
background-color: transparent;
    margin-top: 25px;
    margin: 0 auto;
    text-decoration: none;
}

nav ul{
    width:100%;
    text-align: center;
    letter-spacing: 2px;
    margin: 0 auto;
    padding-top:25px;
    text-decoration: none;
}

nav ul li{
    
    display: inline;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Quattrocento', serif;
    line-height: 35px;
    text-decoration: none;
    
}



nav a:hover{
    
    border-bottom: none;
    color: #ff0000;
}

h1{
    top: 40%;
    position:relative;
    font-family: 'Quattrocento', serif;
    font-size: 5em;
    line-height: 125px;
    text-align: center;
    color: #000;
}

    h2{
    top: 40%;
    position:relative;
    font-family: 'Quattrocento', serif;
    font-size: 3.5em;
            margin-left:20%;
    margin-right:25%;
    line-height: 65px;
    color: #000;
}


h3{

    top: 40%;
    position:relative;
    font-family: 'Quattrocento', serif;
    font-size: 3em;
            margin-left:25%;
        margin-right:25%;
    line-height: 65px;
    text-align: center;
    color: #000;
}

h4{

    top: 10%;
    position:relative;
    font-family: 'italianno', serif;
    font-size: 2em;
            margin-left:15%;
    margin-right:25%;
    line-height: 65px;
    color: #000;
}

    h4.btn{

    top: 8.5%;
    position:relative;
    font-family: 'Quattrocento', serif;
    font-size: 2em;
            margin-left:15%;
    margin-right:15%;
    line-height: 65px;
    text-align: center;
    text-transform:none;
        text-transform: uppercase;
    color: grey;

}




p{
    font-size: 1.25em;
    font-family: 'Quattrocento', serif;
    margin-top: 325px;
    margin-left:26.25%;
    color: #000;
    line-height: 10px;
}

p.left{
    font-size: 1.25em;
    font-family: 'Quattrocento', serif;
    margin-top: 325px;
    margin-left:20%;
    color: #000;
    line-height: 10px;
}

/* ---- LAPTOP-----*/

@media (max-width: 100em){
    
    body{
    
width: 100%;
    max-width: 5120px;
     font-family: 'Quattrocento', serif;

    color: #f5f5f5;
    line-height: 1.8;  

}

    
#headerimage{
    
  width: 100%;
  height: 652.5px;
    padding-top: 20px;

 
  background: #f1f1f1;

}

#btn{
    width: 20%;
    height: 75px;
    background-color: transparent;
    margin-top: 200px;
    margin-left: 40%;
    margin-right: 40%;
    border-color: bisque;
    border-width: 2px;
    border-style: solid;
}

#btn:hover{
     -webkit-transition: all 1s ease-out;
   -moz-transition: all 1s ease-out;
   -o-transition: all 1s ease-out;
   -ms-transition: all 1s ease-out;
   transition: all 1s ease-out;
    background-color:bisque;
}
    
    #btn2{
    width: 20%;
    height: 75px;
    background-color: transparent;
    margin-top: 175px;
    margin-left: 40%;
    margin-right: 40%;
    border-color: bisque;
    border-width: 2px;
    border-style: solid;
}

#btn2:hover{
     -webkit-transition: all 1s ease-out;
   -moz-transition: all 1s ease-out;
   -o-transition: all 1s ease-out;
   -ms-transition: all 1s ease-out;
   transition: all 1s ease-out;
    background-color:bisque;
}
    
    #section2{
    
  width: 100%;
  height: 730px;

 
  background-color: #f5f5f5;

}
    
        #section3{
    
  width: 100%;
  height: 730px;

 
  background-color: #f5f5f5;

}
    
        #section4{
    
  width: 100%;
  height: 730px;

 
  background-color: #f5f5f5;

}
    
            #section5{
    
  width: 100%;
  height: 730px;

 
  background-color: #f5f5f5;

}
    
            #section6{
    
  width: 100%;
  height: 730px;

 
  background-color: #f5f5f5;

}
    
            #section7{
    
  width: 100%;
  height: 730px;

 
  background-color: #f5f5f5;

}
    
            #section8{
    
  width: 100%;
  height: 730px;

 
  background-color: #f5f5f5;

}
    
            #section9{
    
  width: 100%;
  height: 730px;

 
  background-color: #f5f5f5;

}
    
            #section10{
    
  width: 100%;
  height: 730px;

 
  background-color: #f5f5f5;

}
    
            #section11{
    
  width: 100%;
  height: 730px;

 
  background-color: #f5f5f5;

}
    
            #section12{
    
  width: 100%;
  height: 730px;

 
  background-color: #f5f5f5;

}
    
                #section13{
    
  width: 100%;
  height: 730px;

 
  background-color: #f5f5f5;

}
   
   
   
   
   
   
   
   
    
    #textleft{
        margin-top: 5%;
        width:40%;
        height:600px;
        margin-left: 10%;
        background-color: transparent;
        float: left
    }
    
        #imageright1{
        margin-top: 5%;
        width:40%;
        height:600px;
        margin-right: 10%;
        background-color: transparent;
                        background-image: url("../images/audemars.svg")  ;
      background-repeat: no-repeat;
            background-size: 50%;
        float: right;
    }
    
        #imageleft1{
        margin-top: 5%;
        width:40%;
        height:600px;
        margin-left: 10%;
        background-color: transparent;
                        background-image: url("../images/breitling.svg")  ;
      background-repeat: no-repeat;
            background-size: 50%;
        float: left
    }
    
            #imageright2{
        margin-top: 5%;
        width:40%;
        height:600px;
        margin-right: 10%;
        background-color: transparent;
                        background-image: url("../images/cartier.svg")  ;
      background-repeat: no-repeat;
            background-size: 50%;
        float: right;
    }
    
        #imageleft2{
        margin-top: 5%;
        width:40%;
        height:600px;
        margin-left: 10%;
        background-color: transparent;
                        background-image: url("../images/iwc.svg")  ;
      background-repeat: no-repeat;
            background-size: 50%;
        float: left
    }
    
            #imageright3{
        margin-top: 5%;
        width:40%;
        height:600px;
        background-color: transparent;
                        background-image: url("../images/jaeger.svg")  ;
      background-repeat: no-repeat;
            background-size: 50%;
        float: right;
    }
    
        #imageleft3{
        margin-top: 5%;
        width:40%;
        height:600px;
        margin-left: 10%;
        background-color: transparent;
                        background-image: url("../images/lange.svg")  ;
      background-repeat: no-repeat;
            background-size: 50%;
        float: left
    }
    
            #imageright4{
        margin-top: 5%;
        width:40%;
        height:600px;
        margin-right: 10%;
        background-color: transparent;
                        background-image: url("../images/omega.svg")  ;
      background-repeat: no-repeat;
            background-size: 50%;
        float: right;
    }
    
        #imageleft4{
        margin-top: 5%;
        width:40%;
        height:600px;
        margin-left: 10%;
        background-color: transparent;
                        background-image: url("../images/panerai.svg")  ;
      background-repeat: no-repeat;
            background-size: 50%;
        float: left
    }
    
            #imageright5{
        margin-top: 5%;
        width:40%;
        height:600px;
        margin-right: 10%;
        background-color: transparent;
                        background-image: url("../images/patek.svg")  ;
      background-repeat: no-repeat;
            background-size: 50%;
        float: right;
    }
    
        #imageleft5{
        margin-top: 5%;
        width:40%;
        height:600px;
        margin-left: 10%;
        background-color: transparent;
                        background-image: url("../images/rolex.svg")  ;
      background-repeat: no-repeat;
            background-size: 50%;
        float: left
    }
    
            #imageright6{
        margin-top: 5%;
        width:40%;
        height:600px;
        margin-right: 10%;
        background-color: transparent;
                        background-image: url("../images/tag_heuer.svg")  ;
      background-repeat: no-repeat;
            background-size: 50%;
        float: right;
    }
    
        #imageleft6{
        margin-top: 5%;
        width:40%;
        height:600px;
        margin-left: 10%;
        background-color: transparent;
                        background-image: url("../images/zenith.svg")  ;
      background-repeat: no-repeat;
            background-size: 50%;
        float: left
    }
    
        #textright{
        margin-top: 5%;
        width:40%;
        height:600px;
        margin-right: 10%;
        background-color: transparent;
        float: right;
    }
    
            #download{
    
  width: 100%;
  height: 600px;
  background-color: transparent;
                            background-image: url("../images/download.png")  ;
      background-repeat: no-repeat;
            background-size: 100% 100%;

}
    
       #footer{
    margin-top: 225px;
  width: 100%;
  height: 50px;
  background-color: #f5f5f5;

}

/* ---- LINKS-----*/

a{
    
    color: #333;
    text-decoration: none;
    
}

a:hover{
    
    color: #003da5;
    border-bottom: 1px dotted;
    
}

a:link{
    
    border-bottom: 1px;
    text-decoration: none;
}

img.menu-logo {
    height: 57.5px;
    width: 57.38px;
    margin-left: 25%;;
}


/* ---- NAV-----*/

nav{
    
    width: 99.65%;
    height: 75px;
background-color: transparent;
    margin-top: 25px;
    margin: 0 auto;
    text-decoration: none;
}

nav ul{
    width:100%;
    text-align: center;
    letter-spacing: 2px;
    margin: 0 auto;
    padding-top:25px;
    text-decoration: none;
}

nav ul li{
    
    display: inline;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Quattrocento', serif;
    line-height: 35px;
    text-decoration: none;
    
}



nav a:hover{
    
    border-bottom: none;
    color: #ff0000;
}

h1{
    top: 25%;
    position:relative;
    font-family: 'Quattrocento', serif;
    font-size: 5em;
    line-height: 125px;
    text-align: center;
    color: #000;
}

    h2{
    top: 10%;
    position:relative;
    font-family: 'Quattrocento', serif;
    font-size: 3.5em;
            margin-left:15%;
    margin-right:15%;
    line-height: 65px;
    color: #000;
}


h3{

    top: 25%;
    position:relative;
    font-family: 'Quattrocento', serif;
    font-size: 2.25em;
            margin-left:25%;
        margin-right:25%;
    line-height: 50px;
    text-align: center;
    color: #000;
}

h4{

    top: 10%;
    font-family: 'italianno', serif;
    font-size: 2em;
    line-height: 65px;
    color: #000;
text-align: left;

}


    h4.btn{

    top: 8.5%;
    position:relative;
    font-family: 'Quattrocento', serif;
    font-size: 2em;
            margin-left:15%;
    margin-right:15%;
    line-height: 65px;
    text-align: center;
    text-transform:none;
        text-transform: uppercase;
    color: grey;

}

p{
    font-size: 1.25em;
    font-family: 'Quattrocento', serif;
    margin-top: 100px;
    margin-left:15%;
    margin-right: 15%;
    color: #000;
    line-height: 25px;
}
    
    p.footer{
    font-size: 1.25em;
    font-family: 'Quattrocento', serif;
    padding-top: 15px;
    margin-left:10%;
    margin-right: 15%;
    color: #000;
    line-height: 25px;
}



}
    
    